<div class="document">
  <h3>Snippet</h3>
  <label>
    Title <input name="document[{{index}}][title]"/>
  </label>

  <label>
    Head
    <textarea name="document[{{index}}][head]" rows="10"></textarea>
  </label>

  <label>
    Body
    <textarea name="document[{{index}}][body]" rows="10"></textarea>
  </label>
</div>