<div class="snippet">
  <h3>Snippet</h3>
  <label>
    Title <input name="snippet[{{index}}][title]"/>
  </label>

  <label>
    Head
    <textarea name="snippet[{{index}}][head]" rows="10"></textarea>
  </label>

  <label>
    Body
    <textarea name="snippet[{{index}}][body]" rows="10"></textarea>
  </label>
</div>