<h2>Edit {{testcase.name}}</h2>
<form action="/{{testcase.slug}}/update" method="POST" class="form-horizontal">
  {{> _testcase testcase }}

  {{#each documents }}
    {{> _document }}
  {{/each}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit">Save</button> or <a href="/{{testcase.slug}}">Cancel</a>
    </div>
  </div>
</form>