<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Create a test case</h2>
<form name="" method="POST">
  <div class="testcase">
    <label>
      Name <input name="name">
    </label>
    <br/>

    <label>
      Slug <input name="slug">
    </label>
    <br/>

    <label>
      Description
      <textarea name="desc" rows="10"></textarea>
    </label>
  </div>

  {{> _document index=0 }}
  {{> _document index=1 }}

  <div>
    <a class="js-add-another" href="#">Add another</a>
  </div>

  <button type="submit">Submit</button>
</form>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/create.js"></script>