<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Create a test case</h2>
<form action="/" method="POST">
  {{> _testcase testcase }}

  {{#each documents}}
    {{> _document }}
  {{/each}}

  <div>
    <a class="js-add-another" href="#">Add another</a>
  </div>

  <button type="submit">Submit</button>
</form>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/create.js"></script>