<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Create a test case</h2>
<form name="" method="POST">
  <label>
    Name <input name="name">
  </label>
  <br/>

  <label>
    Slug <input name="slug">
  </label>
  <br/>

  <label>
    Description
    <textarea name="desc" rows="10"></textarea>
  </label>

  <br/>

  <hr>

  <h3>Snippet</h3>

  <label>
    Title <input name="snippet[0][title]"/>
  </label>

  <label>
    Head
    <textarea name="snippet[0][head]" rows="10"></textarea>
  </label>

  <label>
    Body
    <textarea name="snippet[0][body]" rows="10"></textarea>
  </label>
  <hr>

  <h3>Snippet</h3>

  <label>
    Title <input name="snippet[1][title]"/>
  </label>

  <label>
    Head
    <textarea name="snippet[1][head]" rows="10"></textarea>
  </label>

  <label>
    Body
    <textarea name="snippet[1][body]" rows="10"></textarea>
  </label>

  <button type="submit">Submit</button>
</form>