<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Create a test case</h2>
<form name="" method="POST">
  <div class="testcase">
    <label>
      Name <input name="name">
    </label>
    <br/>

    <label>
      Slug <input name="slug">
    </label>
    <br/>

    <label>
      Description
      <textarea name="desc" rows="10"></textarea>
    </label>
  </div>

  <div class="document">
    <h3>Document</h3>

    <label>
      Title <input name="document[0][title]"/>
    </label>

    <label>
      Head
      <textarea name="document[0][head]" rows="10"></textarea>
    </label>

    <label>
      Body
      <textarea name="document[0][body]" rows="10"></textarea>
    </label>
  </div>

  <div class="document">
    <h3>Document</h3>

    <label>
      Title <input name="document[1][title]"/>
    </label>

    <label>
      Head
      <textarea name="document[1][head]" rows="10"></textarea>
    </label>

    <label>
      Body
      <textarea name="document[1][body]" rows="10"></textarea>
    </label>
  </div>

  <div>
    <a class="js-add-another" href="#">Add another</a>
  </div>

  <button type="submit">Submit</button>
</form>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/create.js"></script>