<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} &bullet; resourceperf</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
